@use "./scss/variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  z-index: 2;
}

::selection {
  // background-color: #b3a4c3;
  background-color: #606060;
  color: black;
}

#app {
  // backdrop-filter: blur(5vw);
  // -webkit-backdrop-filter: blur(10vw);
  // overflow: none;
  // background-color: red;
}

.bold {
  font-weight: 800;
  display: inline;
}

body {
  line-height: 1.4;
  font-weight: 450;
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  // background-color: $bg-pos;
  // color: $fg-pos;
  background-color: #101010;
  color: white;
}

.glass {
  backdrop-filter: blur(20vw);
  -webkit-backdrop-filter: blur(20vw);
}

section {
  z-index: 1;
}

a {
  text-decoration: underline;
  color: inherit;
  transition: transform 400ms ease;
}
