@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap");
@import './scss/variables.scss';

* {
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: 800;
  display: inline;
}

body {
  line-height: 1.4;
  font-weight: 450;
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
}

#app {
  background-color: $bg-pos;
  color: $fg-pos;
}

a {
  text-decoration: underline;
  color: inherit;
  transition: transform 400ms ease;
}

a:hover {
  transform: scale(2) skewX(-10deg);
}
