@use './variables.scss' as *;

#about-page {
  padding-top: 10rem;
  padding-bottom: 10rem;
  // display: flex;
  // flex-direction: row;
}

.about-me {
  padding: 2rem 3rem;
  font-size: 1.6em;
  margin: auto;
  flex: 2;
  text-align: left;
  max-width: 75rem;
  border: dotted 4px;
  border-radius: 2rem;
}

.skill-list {
  margin: 4rem auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.8rem;
  max-width: 55rem;
  justify-content: center;
  position: relative; 
}

.skill-pill {
  list-style: none;
  padding: 1rem 2rem;
  border-color: #ffffff40;
  background-color: $bg-neg;
  color: $fg-neg;
  border-radius: 30px;
  width: fit-content;
  font-family: "Azeret Mono", monospace;
  font-weight: 300;
  font-size: 1rem;
}
