@use 'variables.scss' as *;

#background {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-image: linear-gradient(to right,
  //     rgba(0, 0, 0, 0.1) 2px,
  //     transparent 1px);
  // background-size: 200px 100%;
  pointer-events: none;
  background-color: black;
}

.blob {
  position: absolute;
  border-radius: 50%;
  background: $accent;
  filter: blur(8vw);
  -ms-filter: blur(10vw);
  overflow: none;
  animation: squish ease-in-out infinite alternate;
  transition: background-color 300ms linear;
}

@keyframes squish {
  0%,
  100% {
    transform: translate(0, 0) scale(1);
  }

  50% {
    transform: translate(20px, 10px) scale(1.6);
  }
}

