@use "./variables.scss" as *;

#projects-page {
  background-color: $bg-neg;
  color: $fg-neg;
  padding: 1rem;
  padding-top: 4rem;
  min-height: 30vh;
  border-radius: 2rem 2rem 0 0;
  max-width: 80rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}



.project {
  display: block;
  width: 20rem;
  padding: 1rem 2rem 2rem;
  border-radius: 4rem;
  cursor: pointer;
  transition: all 400ms ease;
}

.project:hover {
  transform: scale(1.03, 1);
}


.project::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  transform: translate(-50%, -50%);
  pointer-events: none;

  background: radial-gradient(circle,
       white 0%,
      rgba(255, 255, 255, 0) 50%);

  opacity: 0;
  transition: opacity 400ms ease;
}

.project:hover::after {
  opacity: 0.2;
}

.project img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
  border-bottom: dotted;
  border-width: 4px;
  border-color: white;
  border-radius: 40px;
  padding: 0.4rem;
}

.project-title {
  margin-top: 0.8rem;
  font-family: "Azeret Mono";
  margin-bottom: 0.8rem;
}

.project-description {
  max-width: 20rem;
  white-space: normal;
}

.scroll-projects-indicator {
  margin-left: auto;
  margin-right: 6rem;
}

.projects-title {
  font-size: 7vw;
  text-align: center;
  font-family: "Azeret Mono", monospace;
  margin: 0 auto 2rem;
  padding: 1rem 3rem;
  // border-bottom: dotted;
  // background-color: red;
  border-width: 4px;
  border-radius: 40rem;
  width: fit-content;
}
