#title-page {
  height: 100vh;
  display: flex;
  justify-content: center; // Center horizontally
  align-items: center; // Center vertically
  position: relative; // Needed for absolute positioning of child elements
  padding: auto 2rem;
}

.name * {
  display: inline-block;
  font-size: 17vw;
}

.socials {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style-type: none;
  margin: auto auto 1rem 1rem;
}

.socials * {
  text-decoration: underline;
  cursor: pointer;
}

.location {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: auto 1rem 1rem auto;
  background-color: #00000020;
  padding: 0.5rem 0.75rem;
  border-radius: 2rem;
}
