@import "./variables.scss";

#title-page {
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center; 
  position: relative; 
}

.name * {
  font-family: "Azeret Mono";
  font-size: 12vw;
  line-height: 10vw;
  display: block;
  color: #ffffff80;
}

.last-name {
  text-align: right;
  margin-left: 20vw;
  border-right: dotted;
  border-left: dotted;
  border-width: 4px;
  border-radius: 8rem;
  padding: 2rem 3rem;
  transition: transform 500ms ease;
  cursor: pointer;
}

.last-name:hover {
  transform: scale(1.05);
}

.last-name:active {
  transform: scale(1.1, 1);
}

.socials {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style-type: none;
  margin: 1.2rem 1rem;
}

.email {
  position: fixed;
  top: 0;
  margin: 1.2rem 0;
}

.based-in {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1.2rem 1rem;
}

.location {
  margin-left: 3px;
  background-color: #00000020;
  padding: 0.5rem 0.75rem;
  border-radius: 2rem;
}

.year {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 1rem;
  margin-left: 2rem;
}
     
.scroll-hint  {
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
}   
.screen-resolution  {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 1rem;
  margin-right: 2rem;
}
